/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

/*layout*/
.siteTitle{
    font-size: 60px;
    padding: 15px 15px 5px 80px;
    display: inline-block;
}
.siteSlogan{
    display: inline-block;
}
#siteLogin{
    float: right;
    margin: 10px 20px;
}
#siteLogin a{
    margin: 0px;
}
.footerInfo{
    font-size: small;
    text-align: right;
    margin: 10px;
}
.current{
    background-color: darkgrey;
}

/*page*/
.leftBox{
    width: 200px;
    float: left;
    border-right: solid 1px silver;
}
.leftBox div{
    padding: 5px 20px;
}
.rightContent{
    margin-left: 205px;
    width: 750px;
}

.exeBox {
    margin: 20px 20px 10px 150px;
}

.exeInfo{
    padding: 5px;
    font-size: large;
    border-bottom: solid 1px silver;
}
.exeInfo span{
    font-size: smaller;
    color: dimgray;
    margin-left: 50px;
}
.exeResultList textarea{
    font-family: "Courier New", Courier, monospace;
    width: 96%;
}
.commandInfo{
    padding: 10px 30px 5px;
}

.executeShow{
    margin: 10px;
}